<div class="row mt-5">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="" class="form-label">Numero 1</label>
      <input [(ngModel)]="num1" type="text" name="num1" id="" class="form-control" placeholder="Numero 1">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Numero 2</label>
      <input [(ngModel)]="num2" type="text" name="num2" id="" class="form-control" placeholder="Numero 2">
    </div>
    <div class="mb-3">
      <input type="submit" value="Calcular" class="btn btn-primary" (click)="sumar()">
    </div>
  </div>
  <div class="col-md-6">
    <h2>Resultado: {{ resultado }}</h2>
  </div>
</div>